.popup{
	position: relative;
}
.active {
	background: var(--inverted-primary-color);
}
.bottomLeft{
	top: 100%;
	right:50%
}
.bottomRight{
	top: 100%;
	left: 50%;
}
.topRight{
	bottom: 100%;
	left: 0;
}
.topLeft{
	bottom: 100%;
	right: 0;
}
