.Dropdown {
	position: relative;
}

.btn {
	background: none;
	outline: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}

.menu {
	background: var(--card-bg);
	position: absolute;
	z-index: 1000;
	//left: 0;
	//bottom: 0;
	border-radius: 8px;
	border: 1px solid var(--primary-color);
	display: flex;
	flex-direction: column;
}

.item {
	padding: 10px 25px;
	width: 100%;
	border: none;
	background: none;
	outline: none;
	color: var(--primary-color);
	cursor: pointer;
	transition: background-color 0.4s ease;

	&:hover {
		background: var(--inverted-primary-color);
		//color: var(--secondary-color);
	}
}

.active {
	background: var(--inverted-primary-color);
}
.bottomLeft{
	top: 100%;
	left: -200%;
}
.bottomRight{
	top: 100%;
	right: 0;
}
.topRight{
	bottom: 100%;
	left: 0;
}
.topLeft{
	bottom: 100%;
	right: 0;
}
